html{
	overflow: hidden !important;
}
body{
background: rgb(30, 30, 30);
	object-fit: cover;
	/*overflow: hidden;*/
}
/*/*Luna y logo*/
/*div.nav{
	width: 100%;
}
div a img.nav1{
	margin-top: 30px;
	width: 90px;
	height: 40px;
	margin-left: 100px;
	transition-duration: 1s;
	border: 1px solid white;
	opacity: 30%;
}
div a img.nav1:hover{
	width: 130px;
	height: 50px;
}

div img.nav2{
	float: right;
	width: 100px;
	height: 100px;
	transition-duration: 7s;
	margin-right: 20px;
	animation-name: rotate;
	-webkit-animation: 8s rotate linear infinite;
    animation: 8s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50% 
}
div img.nav2:hover{
	margin-right: 100px;
	margin-top: 100px;
}
/*div img.nav2{
	margin-left: 100px;
}*/
/*animacion de rotacion de la luna*/
/*costo un poco son las 11*/
/*@keyframes rotate{from{transform:rotate(0deg);}
to{transform:rotate(360deg);} }
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}

/*fin*/
/*inicio*/
/*div.luna0{
	float: right;
	width: 100%;
	height: 100px;
}
img.nave{
	position:relative;
	float: right;
	width: 70px;
	height: 60px;
	margin: 10px;
	margin-top: 40px;
	margin-right: 200px;
	transition-duration: 3s;
	animation-name: nave;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}*/
/*@keyframes nave{
	0%{}
	50%{width: 10px;heig}
	100%{}
}
*/
/*img.nave:hover{*/
	/*width: 1px;*/
	/*height: 1px;*/

/*img.astro{*/
	/*width: 100px;*/
	/*height: 100px;*/
	/*float: right;*/
	/*margin-right: 300px;*/
	/*transition-duration: 4s;*/

/*img.astro:hover{*/
	/*width: 10px;*/
	/*height: 10px;*/

/*fin*/
/*inicio*/

/*div.div3{*/
/*width: 100%;*/
/*display: table;*/
/*height: 50px;*/

/*img.meteoro{*/
	/*float: left;*/
/*	width: 120px;*/
	/*height: 90px;*/
/*	margin-left: 100px;
	transition-duration: 30s;
}

img.meteoro:hover{
	margin-left: 800px;
	margin-top: 300px;
	opacity: 0%;
}
*/
/*fin*/
/*inicio*/

/*div.barco{
	position: relative;
	width: 100%;
	top:420px;
	
}
img.sub-barco{
	float: right;
	width: 170px;
	height: 140px;
	animation-name: barco;
	animation-duration:176s;
	animation-delay:4s;
	animation-timing-function: linear;
	transition-duration: 1s;
	animation-iteration-count: infinite;
	transform-style:preserve-3d;
}
@keyframes barco{
	0%{margin-right: 0px;}
	50%{margin-right:90%;}
	100%{margin-left:90%;}
}


img.sub-barco{
	animation-delay:
	
}
img.sub-barco:hover{
	width: 180px;
	height:150px;
}

img.sub-olas{
	
	width: 300px;
	height: 100px;
}*/

nav{
	color: #fff;
	font-size: 30px;
	margin-left: 30px;
}